.about{
  display: flex;
  flex-direction: column;
  padding: 40px 96px;
  color: #ffffff;
  margin: 12px 48px;
  border: solid 1px #000000;
  border-radius: 15px;
  transition: all 0.25s;
}
  .about-title{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    margin-left: 8px;
  }
    .about-logo{
      height: 48px;
      margin-right: 8px;
      filter: drop-shadow(0px 0px 5px #17537b);
    }
  .about-content{
    font-weight: 400;
    font-size: 18px;
    color: #848fa5;
    padding: 10px 20px 0px 40px;
  }



  @media(max-width: 1100px){
    .about{
      margin: 12px 6px;
      padding: 5px;
    }
    .about-title{
      font-size: 16px;
    }
    .about-logo{
      transform: scale(0.75);
      margin-right: 4px;
    }
    .about-content{
      font-size: 12px;
    }
  }
