*{
    transition: all 0.25s;
    color: #070F2B;
}
body{
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
}

* {
    transition: all 0.25s;
    color: inherit;
}


.loader-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070F2B;
    z-index: 200;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.element-u{
    height: 150px;
    width: 96px;
    border: 30px solid #FFFBFF;
    border-top: transparent;
    border-radius: 10px;
}
.element-k{
    height: 100px;
    width: 100px;
    border: 30px solid #1C5D99;
    border-top: transparent;
    border-right:transparent;
    border-radius: 10px;
    transform: rotate(45deg);
    margin-left: 28px;
    animation: spin_loader infinite 1s;
}

@keyframes spin_loader{
    0%{transform: rotate(45deg);}
    40%{transform: rotate(45deg);}
    100%{transform: rotate(405deg);}
}

/*contact modal css*/
.modal-content{
    box-shadow: 0px 0px 10px #5c779a;
    border: none;
    border-radius: 32px;
    padding: 20px;
}
.modal-header, .modal-title{
    justify-content: center;
}
.modal-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    justify-content: center;
    padding: 24px;
}
.modal-body a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.contact-button{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 12px;
    border: none;
    padding: 8px;
    background-color: transparent;
    box-shadow: 0px 0px 25px #3677b44d;
    transition: transform 0.15s;
    transform: scale(0.75);
}
.contact-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 25px #005fb84d;
}
.contact-button-img{
    width: 100%;
    height: 100%;
}
.contact-button-text{
    color: #070F2B;
    margin-top: 8px;
    font-size: 0px;
    width: max-content;
    transition: 0.25s;
    transition-delay: 0.5s;
}
.contact-button:hover .contact-button-text{
    font-size: 14px;
}
modal-footer{
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar{
    width: 0px;
}
.myModal{
    transform: scale(0.75);
    transition: all 0.25s;
}
@media (min-width:981px){
    .myModal{
        transform: scale(1);
    }
    .contact-button{
        transform: scale(1);
    }
}
