.navbar-fixed{
    padding: 0px 40px;
    box-shadow: 0px 0px 15px #070f2b2e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 101;
    opacity: 0.99;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}
.logo{
    transform: scale(0.25);
    display: flex;
    align-items: center;
}
.logo .element-u{
    height: 225px;
    width: 144px;
    border: 40px solid #070F2B;
    border-top: transparent;
    border-radius: 10px;
}
.logo .element-k{
    height: 150px;
    width: 150px;
    border: 40px solid #1C5D99;
    border-top: transparent;
    border-right:transparent;
    border-radius: 10px;
    transform: rotate(45deg);
    margin-left: 40px;
    animation: spin_loader 1s;
}
.logo:hover .element-k{
    animation: spin_loader infinite 1s;
}
.nav-button-container{
    display: flex;
    flex-direction: column;
    width: inherit;
}
.nav-button{
    margin: 8px 18px 8px 0px;
    width: fit-content;
    padding: 4px 8px;
    background-color: transparent;
    color: #070F2B;
    font-size: 24px;
    font-weight: 900;
    border: none;
    border-radius: 8px;
}
.nav-button:hover{
    text-decoration: underline;
}
.toggle-button{
    border: none;
    transform: scale(1.75);
    padding: 0px 6px;
    box-shadow: 0px 0px 10px #3677b44d;
    transition: all 0.25s;
}
.toggle-button:focus{
    outline: none;
    box-shadow: 0px 0px 5px #3677b41a;
    background-color: #3677b429;
}
.navbar-toggle-button-img{
    height: 40px;
}


.themeToggleBtn {
    display: flex;
    align-items: center;
    margin: 8px 18px 8px 0px;
    width: fit-content;
    padding: 4px 12px;
    background-color: #070F2B;
    color: #fffbff;
    font-size: 24px;
    font-weight: 900;
    border: none;
    border-radius: 80px;
    transition: all 0.25s;
}
.themeToggleBtn:hover{
    transform: scale(1.025);
}
.themeBtn-icon{
    height: 20px;
    width: 100%;
    align-self: center;
    margin-right: 6px;
}
#sun{
    height: 0;
    margin: 0;
}

@media (min-width:981px){
    .nav-button-container{
        flex-direction: row;
    }
    .navbar-collapse{
        display: flex;
        justify-content: flex-end;
    }
}