main{
    padding: 0px 40px;
}
.home-page{
    margin: 28px 0;
    padding: 110px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page-name{
    background:  linear-gradient(
      45deg,
      #070F2B 0%,
      #1c317d 50%,
      #3677b4 100%
    );
    font-size: 90px;
    font-family: Satisfy;
    font-weight: 500; 
    background-size: auto auto;
    -webkit-background-clip: text;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: all 0.5s;
    cursor: default;
    animation: drop 1s;
    display: inline-block;
    transform: rotate(-5deg);
}
main, .home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 20px 0px;
    padding: 40px;
    border-radius: 48px;
    background-color: #fffbff;
    box-shadow: 0px 0px 25px #3677b44d;
}
.home-card-img{
    width: 100%;
    border-radius: 32px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px #3677b4a9;
}
.home-card-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    font-size: 32px;
    font-weight: 900;
    color: #070F2B;
}
.home-card-subtext{
    font-size: 24px;
    font-weight: 500;
    color: #1c317d;
    text-align: justify;
}
.resume-btn{
    margin-top: 10px;
}
.skill-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 20px 0px;
    padding: 40px;
    border-radius: 48px;
    background-color: #fffbff;
    box-shadow: 0px 0px 25px #3677b44d;
    transition: 0.25s;
}
.skill-card-title{
    font-size: 32px;
    font-weight: 900;
    color: #070F2B;
    text-align: justify;
    align-self: flex-start;
    margin: 20px 0px 10px 0px;
    transition: all 0.25s;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.skill-container-title{
    font-size: 24px;
    font-weight: 500;
    color: #1c317d;
}
.skill-container li{
    color: #1c317d;
}
.skill{
    border: none;
    border-radius: 16px;
    padding: 4px 12px;
    box-shadow: 0px 0px 0px #b0d3f44d;
}
@media (min-width:981px){
    .home-spacer{
        height: 20px;
    }
    .home-card{
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
    }
    .home-page-name{
        font-size: 180px;
    }
    .home-card-img{
        width: 20%;
        height: 100%;
        margin: 0;
    }
    .resume-btn{
        margin-top: 30px;
    }
    .home-card-footer{
        margin-left: 40px;
        align-self: flex-start;
    }
    .skill-title{
        margin: 0 0 10px 0;
    }
    .skill-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}
@keyframes drop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
        transform: rotate(-5deg);
    }
}@keyframes drop-again {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
        transform: rotate(-5deg);
    }
}
