.home{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 64px 48px 20px 48px;
  padding: 180px 0px;
  color: white;
  font-family: Roboto, sans-serif;
  border: solid 1px #000000;
  border-radius: 15px;
  transition: all 1.5s;
  filter: blur(5px);
  transform: translateX(-50%);
  opacity: 0;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
  .home-left{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    transition: all 1s;
  }
    .name{
      font-weight: 700;
      font-size: 80px;
    }
      .name-fullstop{
        color: #2892D7;
        filter: drop-shadow(0px 0px 5px #2892d7);
      }
    .home-intro{
      width: 360px;
      font-weight: 400;
      font-size: 18px;
      color: #848FA5;
    }
    .home-scroll{
      margin-top: 40px;
      font-weight: 400;
      font-size: 16px;
      text-decoration: underline;
    }
  .home-right{
    transition: all 1s;    
  }
    .home-img{
      height: 360px;
      filter: drop-shadow(0px 0px 10px #000000);
    }



@media(max-width: 1100px){
  .home{
    margin: 64px 40px 20px 40px;
    padding: 80px 40px;
  }
  .home-left{
    font-size: 20px;
    padding: 8px;
    width: 70%;
  }
    .name{
      font-size: 50px;
    }
      .name-fullstop{
        color: #2892D7;
        filter: drop-shadow(0px 0px 5px #2892d7);
      }
    .home-intro{
      width: 240px;
      font-weight: 400;
      font-size: 16px;
      color: #848FA5;
    }
    .home-scroll{
      margin: 40px 0px 0px 0px;
      font-weight: 400;
      font-size: 12px;
      text-decoration: underline;
    }
  .home-right{
    margin: 0px;    
  }
    .home-img{
      height: 270px;
    }
}
