.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .home-main{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    transition: all 0.5s;
  }
    .home-intro{
      font-size: 50px;
    }
      .home-name{
        background:  linear-gradient(
          45deg,
          #141e30 0%,
          #35577e 10%,
          #5083bd 20%,
          #7893c2 30%,
          #8598a9 40%,
          #77ada4 50%,
          #5C9EAD 60%,
          #326273 70%,
          #414770 80%,
          #345995 90%,
          #030027 100%
        );
        background-size: auto auto;
        -webkit-background-clip: text;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 150px;
        font-weight: 500;
        transition: all 0.5s;
        cursor: default;
        animation: textclip 5s linear infinite;
        display: inline-block;
      }
      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
  
  .home-down-arrow{
    display: flex;
    justify-content: center;
  }
    .home-down-arrow-img{
      height: 30px;
      width: 30px;
      transition: 0.25s;
    }
      .home-down-arrow-img:hover{
        filter: drop-shadow(0px 2px 5px black);
      }


@media(max-width:850px){
  .home-main{
    padding: 70px 0px;
  }
  .home-logo-img{
    height: 100px;
  }
  .home-logo-name{
    font-size: 20px;
    margin-top: -10px;
  }
  .home-separator{
    font-size: 150px;
    margin: 0px 25px;
  }
  .home-name{
    font-size: 75px;
  }
}