.projects{
  padding: 20px 40px;
  margin: 35px 10px;
  background-color: rgba(225, 225, 225, 0.15);
  color: black;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(225, 225, 225, 0.2);
  transition: all 0.25s;
  cursor: pointer;
}
  .projects:hover{
    background-color: rgba(225, 225, 225, 0.2);
  }
  .projects-title{
    display: flex;
    align-items: center;
    font-family: Quicksand, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    margin: 10px;
  }
    .projects-title-icon{
      margin: 0px 10px;
      height: 50px;
      width: 50px;
    }
      .projects:hover .projects-title-icon{
        animation: wiggle 5s linear infinite;
      }
    .projects-content{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
        .projects-txt{
          margin: -10px 0px 30px 20px;
          padding: 20px;
          color: #ffffff;
          font-family: Quicksand, sans-serif;
          font-size: 25px;
          background-color: rgba(225, 225, 225, 0.2);
          border-radius: 20px;
          transition: all 0.25s;
          cursor: default;
        }
          .projects:hover .projects-txt{
            background-color: rgba(225, 225, 225, 0.2);
          }
        .html-css-projects{
          margin: 40px 0px 10px 20px;
          padding: 20px;
          color: white;
          font-family: Quicksand, sans-serif;
          font-size: 25px;
          background-color: rgba(225, 225, 225, 0.2);
          border-radius: 20px;
          transition: all 0.25s;
          cursor: default;
        }
            .projects:hover .html-css-projects{
              background-color: rgba(225, 225, 225, 0.25);
            }
          .html-css-projects-title{
            padding: 5px 25px;
            font-size: 30px;
            font-weight: 500;
          }
          .html-css-projects-description{
            padding: 5px 25px;
          }
          .html-css-projects-content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 10px 20px;
            }
            .html-css-project-button{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 90px;
              padding: 10px 30px;
              background-color: rgba(225, 225, 225, 0.25);
              border-radius: 10px;
              color: rgb(255, 255, 255);
              font-weight: 100;
              font-size: 12px;
              object-fit: cover;
              transition: all 0.25s;
              margin: 5px;
            }
                .html-css-project-button-img{
                  height: 70%;
                  width: 80%;
                  transition: all 0.25s;
                }
              .html-css-project-button:hover{
                background-color: rgba(225, 225, 225, 0.35);
                color: rgb(255, 255, 255);
                font-size: 14px;
              }
              .html-css-project-button:hover .html-css-project-button-img{
                transform: scale(1.05);
              }
              .html-css-project-button:active{
                background-color: rgb(145, 145, 145, 0.5);
              }
          .html-css-projects-disclaimer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 25px;
            font-size: 20px;
          }
            .html-css-projects-disclaimer-abbreviations{
              font-size: 10px;
            }


@media(max-width:850px){
  .projects-title{
    font-size: 25px;
  }
  .projects-title-icon{
    height: 25px;
    width: 25px;
  }
  .projects-txt{
    font-size: 14px;
  }
  .html-css-projects{
    margin: 20px 0px 10px 20px;
    font-size: 13px;
  }
  .html-css-projects-title{
    font-size: 15px;
  }
  .html-css-projects-content{
    grid-template-columns: 1fr 1fr;
  }
  .html-css-project-button{
    padding: 5px 15px;
    font-size: 8px;
  }
  .html-css-project-button:hover{
    padding: 5px 12px;
    font-size: 10px;
  }
  .html-css-projects-disclaimer{
    font-size: 10px;
  }
  .html-css-projects-disclaimer-abbreviations{
    font-size: 8px;
  }
}
