body.dark-mode {
    background-image: linear-gradient(#030409, #101217);
    color: #ffffff;
}
.modal-content.dark-mode{
    background-color: #252525;
    box-shadow: 0px 0px 15px #6a6a6a32;
}
.contact-button.dark-mode{
    box-shadow: 0px 0px 15px #6a6a6a32;
}
.contact-button-text.dark-mode{
    color: #fffbff;
}
.navbar.dark-mode, .home-card.dark-mode, .skill-card.dark-mode{
    background-color: #151515 !important;
    color: #fffbff;
    box-shadow: 0px 0px 5px #33333358;
}
.element-u.dark-mode{
    border-color: #fffbff;
}
.nav-button.dark-mode{
    color: #fffbff;
}
.toggle-button.dark-mode{
    background-color: #676767;
    box-shadow: 0px 0px 5px #555555;
}
.home-page-name.dark-mode{
    background:  linear-gradient(
      45deg,
      #f6f6f6 0%,
      #a4a4a4 50%,
      #7f7f7f 100%
    );
    font-size: 90px;
    font-family: Satisfy;
    font-weight: 500; 
    background-size: auto auto;
    -webkit-background-clip: text;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: all 0.5s;
    cursor: default;
    animation: drop-again 1s;
    display: inline-block;
}
.home-card-text.dark-mode, .skill-card-title.dark-mode, .skill-title.dark-mode, .skill-container-title.dark-mode{
    color: #fffbff;
}
.home-card-subtext.dark-mode, .skill-card-subtext.dark-mode, .skill-container li.dark-mode{
    color: #d2d1d2;
}
.home-card-img.dark-mode{
    box-shadow: 0px 0px 25px #333333;
}
.copyright.dark-mode{
    color: #fffbff;
}
.resume-img.dark-mode{
    filter: invert(100%);
}

/* Style for button in dark mode */
body.dark-mode .themeToggleBtn {
    color: #070F2B;
    background-color: #fffbff;
    box-shadow: 0px 0px 5px #97adff65;
}
body.dark-mode #moon{
    height: 0;
    margin: 0;
}
body.dark-mode #sun{
    height: 24px;
    margin-right: 6px;
}

@media (min-width:981px){
    .home-page-name.dark-mode{
        font-size: 180px;
    }
}
